<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.h.tachikoma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/mTheme">
        <activity android:name=".act.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".act.GalleryActivity" />
        <activity android:name=".act.DetailActivity" />
        <activity android:name=".act.SwNightActivity" />

        <service
            android:name=".MyIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.h.tachikoma.service.MyIntentService" />
            </intent-filter>
        </service>

        <service
            android:name=".service.RemoteWatchService"
            android:exported="false"
            android:process=":remote">
            <intent-filter >
                <action android:name="com.h.tachikoma.service.RemoteWatchService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.LocalWatchService"
            android:exported="false">
            <intent-filter >
                <action android:name="com.h.tachikoma.service.LocalWatchService" />
            </intent-filter>
        </service>
    </application>

</manifest>